
#php_value auto_prepend_file "/var/www/Project-TOA/games/test.php"
#HeaderName /var/www/Project-TOA/games/test.php
#php_value auto_prepend_file "test.php"
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ http://toa.devlab.ac.nz/ [L]