/*
@media all and (min-height: 300px)
{
	#WordToGuess{ font-size:65%;}
	.KeyboardKey{ font-size: 35%;}
}
@media all and (min-height: 350px)
{
	#WordToGuess{ font-size:65%;}
	
}
@media all and (min-height: 400px)
{
	#WordToGuess{ font-size:75%;}
}
@media all and (min-height: 450px)
{
	.KeyboardKey{ font-size: 50%;}
}
@media all and (min-height: 500px)
{
	#WordToGuess{ font-size:85%;}
}
@media all and (min-height: 550px)
{
}
@media all and (min-height: 600px)
{
	#WordToGuess{ font-size:95%;}
}
@media all and (min-height: 650px)
{
}
@media all and (min-height: 700px)
{
}
@media all and (min-height: 750px)
{
}
@media all and (min-height: 800px)
{
}
@media all and (min-height: 850px)
{
}
@media all and (min-height: 900px)
{
}
*/
@media all and (min-width: 300px)
{
	.KeyboardKey{ padding-left: 1%; padding-right: 1%;}
}
@media all and (min-width: 400px)
{
	.KeyboardKey{ padding-left: 2%; padding-right: 2%;}
}

body
{
	margin: 0;
	height: 100%;
}
#game
{
	position: relative !important;
}
#WonGame
{
	text-align: center;
}
html
{
	height: 100%;
	margin: 0;

}

#InfoBar
{
	vertical-align: middle;
}


#Hangi
{
	/*background-color: Orange;*/
	height: calc(100% - 294px);
	text-align: center;
	padding: 10px;
}
#HangiImage
{
	max-height: 100%;
	max-width: 100%;
}

#GameOptions
{
	/*background-color: darkred;*/

	overflow: hidden;
	position: relative;
	text-align: center;
	height: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;


}

#GameOptions .btn
{
	vertical-align: center;
	position: relative;
	height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#WordToGuess
{
	font-size:35px;
	/*background-color: blue;*/
	vertical-align: bottom;
	white-space: pre-wrap;
	font-weight: bold;
	text-align: center;
	width:100%;
	font-family: Helvetic;
}

#Keyboard
{
	min-height: 140px;

	/*background-color: Pink;*/
	overflow: hidden;
	font-size: 20pt;
	display: table;
	width: 100%;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
}

.KeyboardRow
{
	position: relative;
	text-align: center;
	overflow: hidden;
	display: table-row;
	width: 100%;
	vertical-align: middle;
}
.KeyboardKey
{
	background-color: lightgrey;
	display:inline-block;
	border:1px solid grey;
	width: 20px;


}
