body {
    background-color: aliceblue;
}

.gameTitle, h2 {
    font-size: 32pt;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.menuForm, li {
    text-align: center;
    list-style-type: none;
    padding-bottom: 30px;
}

.menuButton, button {
    width: 160px;
    height: 60px;
    font-size: 16pt;
    display: inline;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-align: center;

    text-decoration: none;
    color: initial;
    width: 160px;
    height: 60px;
    font-size: 16pt;
    display: inline;
}