/*CSS that is applied to all of the interface files*/

/*Index, instructions, winDialog, loseDialog CSS*/
#indexTitle {
	text-align: center;
	font-size: 32pt;
}

#buttonStart, #buttonExit, #buttonInstruct, #buttonNewRound {
	height: 80pt;
}

#dialogContainer {
	text-align: center;
}

#dialogTitle{
	text-align: center;
}


#gameInfo {
	padding-bottom: 2pt;
	max-width: 100%;
	text-align: center;
}

/*------------------------------------------------------------------------------------*/
/*Game CSS*/
#game {
	background-image: url("background-img.jpg"); !important;
}

#imageLocation {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
	position: relative;
}

@media all and (min-width: 300px) {
	.keyboardKey{ margin-left: 4pt; font-size: 12pt; }
	#header, #WordToGuess, #instruct, #Feathers, #Score{ font-size: 12pt; }
	#GameOptions { font-size: 10pt;}
	#dialogTitle { font-size: 18pt;}
	#imageLocation { width: 200px; height: 200px;}
}

@media all and (min-width: 400px) {
	.keyboardKey{ padding-left: 2%; padding-right: 2%; margin-left: 4pt; margin-bottom: 4pt; font-size: 16pt; }
	#header, #WordToGuess, #instruct, #Feathers, #Score { font-size: 16pt; }
	#GameOptions { font-size: 14pt;}
	#dialogTitle { font-size: 22pt;}
	#imageLocation { width: 400px; height: 250px;}
}

@media all and (min-width: 700px) {
	#imageLocation { width: 700px; height: 300px;}
}

@media all and (min-width: 700px) {
	.keyboardKey{ padding-left: 2%; padding-right: 2%; margin-left: 4pt; margin-bottom: 4pt; font-size: 20pt;}
	#header, #WordToGuess, #instruct, #Feathers, #Score { font-size: 20pt; }
	#GameOptions { font-size: 18pt;}
	#dialogTitle { font-size: 28pt;}
	#imageLocation { width: 800px; height: 350px;}
}

body {
	margin: 0;
	height: 100%;
}

#game {
	position: relative !important;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit {
	background-color: slategray;
	border-color: black;
	text-shadow: none;
	font-size: 20pt;
	margin-bottom: 20pt;
}

#WonGame {
	text-align: center;
}

html {
	height: 100%;
	margin: 0;
}

#InfoBar {
	vertical-align: middle;
}

#GameOptions {
	overflow: hidden;
	position: relative;
	text-align: center;
	height: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}

#WordToGuess {
	white-space: pre-wrap;
	font-weight: bold;
	text-align: center;
	width:100%;
	font-family: sans-serif;
	vertical-align:middle;
	display:table;
	margin-top: 15pt;
	margin-bottom: 15pt;
	color: white;
}

#keyboard {
	overflow: hidden;
	font-size: 30pt;
	display: table;
	width: 100%;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
}

.keyboardRow {
	position: relative;
	text-align: center;
	overflow: hidden;
	display: table-row;
	width: 100%;
	vertical-align: middle;
}
.keyboardKey {
	background-color: lightgrey;
	display:inline-block;
	border:1px solid grey;
	width: 20px;
}