.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #1b1b1b;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding-bottom: 25px;
}

.ui-bar-a, .ui-bar-inherit {
    padding-bottom: 30px;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit {

}

div.img {
    margin: 3px;
    height: auto;
    width: auto;
    text-align: center;
}

div.img img {
    max-width: 100%;
    min-width: 70px;
    min-height: 100px;
    height: auto;
}

div.img a:hover img {
    border: 1px solid #000000;
    -webkit-transform: scale(1.7,1.3);
}

div, p {
    padding-top: 10pt;
    text-align: center;
    font-size: 16px;
}

#gameInput {
    display:inline-block;
    border:1px solid red;
    width: 50px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16pt;
}

.scoreBody {
    padding-top: 40px;
    padding-bottom: 40px;
}

#guessWord .ui-input-text {
    width: 60%;
    display: inline;
}

#keyboardContainer {
    display: inline;
    width: 600px;
    text-align: center;
}
#write {
    display:inline-block;
    text-align: center;
    font-size: 16pt;
    margin: 0 0 5px;
    height: 20pt;
    width: 160pt;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#keyboardContainer .accept,
#keyboardContainer .delete,
#keyboardContainer .space,
#keyboardContainer .hint{
    display:inline-block;

    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
    height: auto;
}

#keyboard button:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}

th.header {
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;
}

#footer .scoreLabel, .featherLabel {
    display:inline-block;
    font-size: 20pt;
}